In [26]:
import json
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.io as pio
# pio.renderers.default = 'browser'

In [42]:
us_states = json.load(open("us-states.json", "r"))
us_states['features'][2]

{'type': 'Feature',
 'id': 'AZ',
 'properties': {'name': 'Arizona'},
 'geometry': {'type': 'Polygon',
  'coordinates': [[[-109.042503, 37.000263],
    [-109.04798, 31.331629],
    [-111.074448, 31.331629],
    [-112.246513, 31.704061],
    [-114.815198, 32.492741],
    [-114.72209, 32.717295],
    [-114.524921, 32.755634],
    [-114.470151, 32.843265],
    [-114.524921, 33.029481],
    [-114.661844, 33.034958],
    [-114.727567, 33.40739],
    [-114.524921, 33.54979],
    [-114.497536, 33.697668],
    [-114.535874, 33.933176],
    [-114.415382, 34.108438],
    [-114.256551, 34.174162],
    [-114.136058, 34.305608],
    [-114.333228, 34.448009],
    [-114.470151, 34.710902],
    [-114.634459, 34.87521],
    [-114.634459, 35.00118],
    [-114.574213, 35.138103],
    [-114.596121, 35.324319],
    [-114.678275, 35.516012],
    [-114.738521, 36.102045],
    [-114.371566, 36.140383],
    [-114.251074, 36.01989],
    [-114.152489, 36.025367],
    [-114.048427, 36.195153],
    [-114.048427, 37.000263],
    [-110.499369, 37.00574],
    [-109.042503, 37.000263]]]}}

In [27]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)

# import pandas as pd
# df = pd.read_csv("Master_DF.csv")
# df.head(100)

In [12]:
df['GeoName'].unique()

array(['United States', 'Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'New England', 'Mideast',
       'Great Lakes', 'Plains', 'Southeast', 'Southwest',
       'Rocky Mountain', 'Far West'], dtype=object)

In [14]:
#making new dataframe 
df_national = df['GeoName'] == 'United States'
df_states = df[df['GeoName'].isin(['Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'])]

,GeoName,Quarter,Year,Date,Real GDP,Personal Income,Population,Real GDP per Capita,Personal Income per Capita
2292,West Virginia,3,2019,2019-09-30,72959.8,76438.4,1794410,0.040659,0.042598
2293,West Virginia,4,2019,2019-03-31,73761.6,76914.0,1792515,0.041150,0.042908
2294,West Virginia,1,2020,2020-03-31,71725.7,76634.8,1789633,0.040078,0.042822
2295,West Virginia,2,2020,2020-06-30,65547.3,87151.3,1786411,0.036692,0.048786
2296,West Virginia,3,2020,2020-09-30,70427.4,79065.3,1783796,0.039482,0.044324
...,...,...,...,...,...,...,...,...,...
2387,Wyoming,2,2020,2020-06-30,34125.7,37267.7,582157,0.058619,0.064017
2388,Wyoming,3,2020,2020-09-30,36364.7,35407.2,582693,0.062408,0.060765
2389,Wyoming,4,2020,2020-03-31,36477.2,35827.5,583332,0.062532,0.061419
2390,Wyoming,1,2021,2021-03-31,36808.8,39704.7,583653,0.063066,0.068028
2391,Wyoming,2,2021,2021-06-30,37014.4,37141.5,584090,0.063371,0.063589

In [35]:
#how to Make new df by splitting 
df1 = pd.read_csv("Master_DF.csv")
df1_nat = df1[df1['GeoName'] == 'United States']
df1_states = df1[df1['GeoName'].isin(['Alabama', 'Alaska', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'])]
df1_regions = df1[df1['GeoName'].isin(['Wyoming', 'New England', 'Mideast',
       'Great Lakes', 'Plains', 'Southeast', 'Southwest',
       'Rocky Mountain', 'Far West'])]
df1.head()

# df1_states.plot(kind='scatter', x= "Real GDP", y= "Personal Income", s=1)
# sns.regplot(x='Real GDP', y='Personal Income',data = df1_states, x_jitter=0.4)
df_1_states_recent = df1_states["Date"] == "2021-06-30"

In [37]:
df1_states_recent = df1_states[df1_states["Date"] == "2021-06-30"]

In [39]:
df1_states_recent.head()

,GeoName,Quarter,Year,Date,Real GDP,Personal Income,Population,Real GDP per Capita,Personal Income per Capita
91,Alabama,2,2021,2021-06-30,203961.8,237403.1,4932200,0.041353,0.048133
137,Alaska,2,2021,2021-06-30,50251.6,47715.2,728469,0.068982,0.065501
183,Arizona,2,2021,2021-06-30,331353.4,379521.8,7534248,0.043980,0.050373
229,Arkansas,2,2021,2021-06-30,120905.3,149122.2,3038401,0.039792,0.049079
275,California,2,2021,2021-06-30,2832619.1,2919391.2,39289961,0.072095,0.074304

In [38]:

import plotly.express as px

fig = px.choropleth(df_1_states_recent, geojson=counties, locations='GeoName', color='Personal Income',
                           color_continuous_scale="Viridis",
                           range_color=(0, 300000),
                           scope="usa",
                           
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

ValueError: Value of 'locations' is not the name of a column in 'data_frame'. Expected one of ['Date'] but received: GeoName

In [34]:
df1.head()

,GeoName,Quarter,Year,Date,Real GDP,Personal Income,Population,Real GDP per Capita,Personal Income per Capita
0,United States,1,2010,2010-03-31,15456059.0,12311038.1,308468490,0.050106,0.039910
1,United States,2,2010,2010-06-30,15605628.0,12537406.3,309038072,0.050497,0.040569
2,United States,3,2010,2010-09-30,15726282.0,12675765.0,309659806,0.050786,0.040934
3,United States,4,2010,2010-03-31,15807995.0,12821826.6,310275835,0.050948,0.041324
4,United States,1,2011,2011-03-31,15769911.0,13170613.6,310785239,0.050742,0.042379

In [51]:
# state_id_map={}
# for features in us_states['features']:
#     features["id"] = features["properties"]['name']
#     state_id_map[features["properties"]["name"]] = features["id"]
 
# df["id"] = df["index"].apply(lambda x: state_id_map[x])

KeyError: 0

In [24]:
fig = px.choropleth(df_1_states_recent, geojson=us_states, locations='fips', color='unemp',
                           color_continuous_scale="Viridis",
                           range_color=(0, 12),
                           scope="usa"
                        
                          )
fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
fig.show()

NameError: name 'us_states' is not defined